.main__message
  .main__message-upper-info
    %p.main__message-upper-info__talker
      sasano
    %p.main__message-upper-info__date
      1995/03/20/(Tue) 13:23:12
  %p.main__message__text
    ああああああああああ   